{% extends "_includes/layouts/main.html" %}

{% set page = "portfolio" %}

{% block title %}Portfolio{% endblock %}

{% block content %}


<section class="intro intro__portfolio container-fluid">
    <div class="container">

        <div class="intro__portfolio__wrapper">
        </div>

    </div>
</section>

<div class="container">

    <div class="projects">
        <div class="projects__inner">

            <article class="project">

                <div class="project__header">
                    <h2 class="project__title">Campusonfire</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div href="#" class="project__information">
                            <!--<img src="img/campusonfire.jpeg">-->

                            <h3 class="project__title">Campusonfire</h3>

                            <p>Сайт-визитка разрабочиков marketplace</p>
                            <a class="project__link" href="https://campusonfire.com/">link</a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="project__wrapper">
                            <!--<img src="img/campusonfire.jpeg">-->
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0"
                                        class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="5"></li>-->
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/img/campus-1.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/campus-2.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/campus-3.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/campus-4.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/campus-5.jpg" alt="...">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <!--<a class="left carousel-control" href="#carousel-example-generic" role="button"-->
                                   <!--data-slide="prev">-->
                                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only">Previous</span>-->
                                <!--</a>-->
                                <!--<a class="right carousel-control" href="#carousel-example-generic" role="button"-->
                                   <!--data-slide="next">-->
                                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only">Next</span>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="project">

                <div class="project__header">
                    <h2 class="project__title">Наставник HTML Academy</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div href="#" class="project__information">
                            <!--<img src="img/htmlacademy.jpeg">-->

                            <h3 class="project__title">Наставник HTML Academy</h3>

                            <p>Онлайн-курсы веб-разработки</p>
                            <a class="project__link" href="https://htmlacademy.ru/intensive/htmlcss/tutors">link</a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="project__wrapper">
                            <!--<img src="img/campusonfire.jpeg">-->
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0"
                                        class="active"></li>
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="5"></li>-->
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/img/htmlacademy.jpeg" alt="...">
                                    </div>
                                    <!--<div class="item">-->
                                        <!--<img src="/img/campus-2.jpg" alt="...">-->
                                    <!--</div>-->
                                    <!--<div class="item">-->
                                        <!--<img src="/img/campus-3.jpg" alt="...">-->
                                    <!--</div>-->
                                    <!--<div class="item">-->
                                        <!--<img src="/img/campus-4.jpg" alt="...">-->
                                    <!--</div>-->
                                    <!--<div class="item">-->
                                        <!--<img src="/img/campus-5.jpg" alt="...">-->
                                    <!--</div>-->
                                </div>

                                <!-- Controls -->
                                <!--<a class="left carousel-control" href="#carousel-example-generic" role="button"-->
                                   <!--data-slide="prev">-->
                                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only">Previous</span>-->
                                <!--</a>-->
                                <!--<a class="right carousel-control" href="#carousel-example-generic" role="button"-->
                                   <!--data-slide="next">-->
                                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only">Next</span>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="project">

                <div class="project__header">
                    <h2 class="project__title">Simplenight</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div href="#" class="project__information">
                            <!--<img src="img/simplenight.jpeg">-->

                            <h3 class="project__title">Simplenight</h3>

                            <p>Агрегатор SIMPLENIGHT.COM LLC, New York, USA</p>
                            <a class="project__link" href="https://booking.simplenight.com/simplenight">link</a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="project__wrapper">
                            <!--<img src="img/campusonfire.jpeg">-->
                            <div id="carousel-simplenight" class="carousel slide" data-ride="carousel" data-interval="false">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-simplenight" data-slide-to="0"
                                        class="active"></li>
                                    <li data-target="#carousel-simplenight" data-slide-to="1"></li>
                                    <li data-target="#carousel-simplenight" data-slide-to="2"></li>
                                    <li data-target="#carousel-simplenight" data-slide-to="3"></li>
                                    <li data-target="#carousel-simplenight" data-slide-to="4"></li>
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="5"></li>-->
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/img/simplenight-1.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/simplenight-2.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/simplenight-3.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/simplenight-4.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/simplenight-5.jpg" alt="...">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <!--<a class="left carousel-control" href="#carousel-simplenight" role="button"-->
                                   <!--data-slide="prev">-->
                                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only">Previous</span>-->
                                <!--</a>-->
                                <!--<a class="right carousel-control" href="#carousel-simplenight" role="button"-->
                                   <!--data-slide="next">-->
                                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                                    <!--<span class="sr-only">Next</span>-->
                                <!--</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="project">

                <div class="project__header">
                    <h2 class="project__title">BED DOG USA</h2>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div href="#" class="project__information">
                            <!--<img src="img/simplenight.jpeg">-->

                            <h3 class="project__title">Bed Dog</h3>

                            <p>Online shop</p>
                            <a class="project__link" href="https://www.beddogusa.com">link</a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="project__wrapper">
                            <!--<img src="img/campusonfire.jpeg">-->
                            <div id="carousel-beddog" class="carousel slide" data-ride="carousel" data-interval="false">


                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/img/bed-dog-1.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/bed-dog-2.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/bed-dog-3.jpg" alt="...">
                                    </div>
                                    <div class="item">
                                        <img src="/img/bed-dog-4.jpg" alt="...">
                                    </div>
                                </div>

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-beddog" data-slide-to="0"
                                        class="active"></li>
                                    <li data-target="#carousel-beddog" data-slide-to="1"></li>
                                    <li data-target="#carousel-beddog" data-slide-to="2"></li>
                                    <li data-target="#carousel-beddog" data-slide-to="3"></li>
                                    <!--<li data-target="#carousel-beddog" data-slide-to="4"></li>-->
                                    <!--<li data-target="#carousel-example-generic" data-slide-to="5"></li>-->
                                </ol>

                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </div>
</div>

{% endblock %}